@font-face {
	font-family: "Inter";
	font-weight: normal;
	font-display: swap;
	src: url('./fonts/inter/Inter-Regular.woff');
}

@font-face {
	font-family: "Inter";
	font-weight: bold;
	font-display: swap;
	src: url('./fonts/inter/Inter-Bold.woff');
}

@font-face {
	font-family: "Inter";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('./fonts/inter/Inter-Italic.woff');
}

@font-face {
	font-family: "Salina";
	font-weight: 400;
	font-display: swap;
	src: url('./fonts/Salina\ Regular.woff')
}

:root {
	--font-size-sm: clamp(0.8rem, 0.07vw + 0.79rem, 0.84rem);
	--font-size-base: clamp(1rem, 0.21vw + 0.96rem, 1.13rem);
	--font-size-lg: clamp(1.25rem, 0.42vw + 1.17rem, 1.5rem);
	--font-size-xl: clamp(1.56rem, 0.73vw + 1.42rem, 2rem);
	--font-size-xxl: clamp(1.95rem, 1.19vw + 1.72rem, 2.66rem);

	--primary-900: #131C07;
	--primary-700: #275130;
	--primary-500: #577E45;
	--primary-300: #98B669;
	--primary-100: #D6F7A2;

	--night: #0e1909;
	--forest: #516146;
	--brick: #a29584;
	--sand: #f2eee5;
	--moss: #737a50;
	--light-moss: #a8b07f;

	--gray-900: #2a2a2a;
	--gray-800: #3d3d3d;
	--gray-700: #4f4f4f;
	--gray-200: #dadada;
	--gray-100: #e0e0e0;
	--gray-50: #f5f5f5;

	--white-full: hsla(0, 0%, 100%, 1);
	--white-90: hsla(0, 0%, 100%, 0.87);
	--white-80: hsla(0, 0%, 100%, 0.77);
	--white-70: hsla(0, 0%, 100%, 0.67);
	--white-60: hsla(0, 0%, 100%, 0.57);
	--white-50: hsla(0, 0%, 100%, 0.47);
	--white-40: hsla(0, 0%, 100%, 0.37);
	--white-30: hsla(0, 0%, 100%, 0.27);
	--white-20: hsla(0, 0%, 100%, 0.17);
	--white-10: hsla(0, 0%, 100%, 0.10);

	--black-full: hsla(0, 0%, 11%, 1);
	--black-90: hsla(0, 0%, 11%, 0.87);
	--black-80: hsla(0, 0%, 11%, 0.77);
	--black-70: hsla(0, 0%, 11%, 0.67);
	--black-60: hsla(0, 0%, 11%, 0.57);
	--black-50: hsla(0, 0%, 11%, 0.47);
	--black-40: hsla(0, 0%, 11%, 0.37);
	--black-30: hsla(0, 0%, 11%, 0.27);
	--black-20: hsla(0, 0%, 11%, 0.17);
	--black-10: hsla(0, 0%, 11%, 0.10);
}

html, body {
	/* background-color: var(--gray-50); */
	background-color: var(--sand);
	margin: 0;
	padding: 0;
	font-size: 100%;
	color: var(--black-80);
	/* display: grid;
	grid-template-columns: 8px max-content 8px; */
}

#logo {
	filter: drop-shadow(0 0 8px rgba(15, 80, 40, 0.37))
}

.hero {
	/* grid-column: 1/3; */
	margin: 0 auto;
	max-height: 420px;
	overflow: hidden;
	width: 100%;
}
/* .hero {
	margin: 0 auto;
	max-height: 420px;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: 1;
} */

.hero img {
	width: 100%;
	height: auto;
}

.location-img {
	border: 1px solid var(--moss);
	border-radius: 8px;
	max-width: 400px;
	width: 100%;
}

.hero-spacer {
	position: relative;
	height: 300px;
}

p.lead {
	font-size: var(--font-size-lg);
}

main {
	/* background-color: var(--sand); */
	/* border-radius: 8px; */
	/* box-shadow: 0 0 16px rgba(69, 69, 69, 0.37); */
	font-size: var(--font-size-base);
	padding: 1rem;
	position: relative;
	margin: 1rem auto;
	max-width: 48rem;
	/* z-index: 10; */
	/* grid-column: 2; */
}

aside {
	display: inline-block;
	width: 32rem;
}

h1, h2, h3 {
	color: var(--night)	;
	font-family: 'Salina', cursive;
}

h1 {
	/* font-size: 2rem; */
	/* font-size: var(--font-size-xxl); */
	font-size: 3rem;
}

h2 {
	/* font-size: 1.5rem; */
	/* font-size: var(--font-size-xl); */
	font-size: 2.4rem;
	margin-top: 3rem;
}

h3 {
	/* font-size: 1.25rem; */
	/* font-size: var(--font-size-lg); */
	font-size: 2rem;
	margin-top: 2rem;
	margin-bottom: 0.75rem;
}

p, li {
	/* font-size: 1.125rem; */
}

p {
	line-height: 1.6;
}

a {
	color: var(--forest);
}

a:visited {
	color: #903fb9;
}

a:hover {
	opacity: 0.67;
}

ul li{
	line-height: 1.5;
}

.btn {
	font-family: 'Salina', cursive;
	border-radius: 6px;
	cursor: pointer;
	font-size: var(--font-size-lg);
	font-weight: bold;
	padding: 0.75rem 1rem;
}

.btn-filled {
	text-decoration: none;
}

.btn-filled.primary {
	background-color: var(--forest);
	color: #fff;
}

.btn-text {
	color: var(--black-90);
	text-decoration: underline;
}

.btn-text:visited {
	color: var(--black-90);
}

.btn-text:hover {
	background-color: var(--black-10);
}

details summary {
	background-color: var(--black-10);
	/* background-color: var(--white-10); */
	border-radius: 6px;
	cursor: pointer;
	padding: 1rem;
}

details summary:hover {
	opacity: 0.8;
}

/* details.table-of-contents summary h2 {
	display: inline;
	font-size: 1.125rem;
	margin-left: 12px;
} */

details ul li {
	line-height: 1.8;
}

.alert {
	background-color: rgb(239, 247, 80);
	border-radius: 8px;
	padding: 0.75rem 1rem;
	margin: 2rem 0;
}

.alert * {
	color: var(--black-90);
	margin: 0.5rem 0;
}

.alert h3 {
	margin: 1rem 0;
}

.alert a {
	color: var(--primary-900);
}

.alert a:visited {
	color: #3e1950
}

div.events {
	border: 1px solid var(--brick);
	border-radius: 12px;
	margin-top: 32px;
	padding: 16px;
}

div.events header {
	display: flex;
	gap: 8px;
	align-items: center;
}

div.events header h2 {
	margin: 16px 0;
}

div.events .event img {
	border-radius: 8px;
	height: auto;
	width: 100%;
}

div.events .event span.event-title {
	display: inline-block;
	color: var(--black-full);
	font-size: 22px;
	font-weight: bold;
	line-height: 32px;
	margin: 16px 0;
}

div.events .event .date-location {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-bottom: 12px;
}

div.events .event .cta {
	background: var(--primary-700);
	border-radius: 6px;
	color: white;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 12px;
	padding: 12px 16px;
	text-decoration: none;
}

div.time-place {
	background-color: var(--light-moss);
	color: var(--black-full);
	border-radius: 8px;
	padding: 0.75rem 1rem;
}

.organizers, .conversation {
	display: flex;
	gap: 16px;
}

.conversation {
	flex-wrap: wrap;
}

@media screen and (min-width:600px) {
	.conversation {
		flex-wrap: nowrap;
	}
}

.organizers figure, .conversation a.network-site {
	padding: 0;
	margin: 0;
	font-size: var(--font-size-md);
}

.organizers figure img {
	border-radius: 8px;
	margin-bottom: 12px;
	max-width: 500px;
	transition: all ease-in-out 195ms;
	width: 100%;
}

.organizers figure img:hover {
	box-shadow: -8px 8px var(--moss);
	transform: translate(8px, -8px);
}

.conversation a.network-site {
	color: var(--black-full);
	background-color: none;
	border: 2px solid var(--black-30);
	border-radius: 6px;
	display: block;
	max-width: 500px;
	padding: 12px;
	text-align: center;
	text-decoration: none;
	transition: all ease-in-out 195ms;
	width: 100%;
	z-index: 10;
}

.conversation a.network-site:hover {
	/* color: var(--white-80); */
	/* background-color: var(--white-10); */
	border-color: var(--primary-500);
}

.conversation a.network-site .site-heading {
	display: block;
	font-size: 24px;
	margin: 12px 0;
	text-align: center;
}

.conversation a.network-site .logo-container {
	display: block;
	text-align: center;
	width: 100%;
}

.conversation a.network-site svg {
	display: inline-block;
	fill: var(--black-90);
	height: auto;
	transition: fill ease-in-out 195ms;
	max-width: 100px;
}

.conversation a.network-site:hover svg {
	fill: var(--primary-500);
}

.conversation a.network-site p {
	display: block;
	margin: 12px 0;
}

.callout {
	display: flex;
	gap: 16px;
	margin-top: 1.5rem;
}

.img-callout img {
	border-radius: 8px;
	transition: all ease-in-out 195ms;
	width: 100%;
}

.img-callout img:hover {
	box-shadow: -8px 8px var(--moss);
	transform: translate(8px, -8px);
}

footer p {
	color: rgba(255, 255, 255, 0.57);
	font-size: var(--font-size-sm);
}

footer a, footer a:visited {
	color: rgba(255, 255, 255, 0.57);
}

@media (prefers-color-scheme: dark) {
	html, body {
		/* background-color: #2a2a2a; */
		background-color: var(--night);
		/* color: rgba(255, 255, 255, 0.87) */
		color: var(--white-80);
		/* color: var(--sand) */
	}

	#logo {
		filter: drop-shadow(0 0 8px rgba(249, 241, 205, 0.47))
	}

	#logo-rh {
		fill: var(--sand);
	}

	#logo-ittenop {
		fill: var(--light-moss);
	}

	h1, h2, h3 {
		color: var(--sand);
	}

	main {
		background-color: var(--night);
	}

	a {
		color: var(--light-moss);
	}

	a:visited {
		color: #C287F0;
	}

	.btn-filled.primary {
		background-color: var(--light-moss);
		color: var(--black-full);
	}
	
	.btn-text {
		color: var(--white-90);
		text-decoration: underline;
	}

	.btn-text:visited {
		color: var(--white-90);
	}
	
	.btn-text:hover {
		background-color: var(--white-10);
	}

	details summary {
		background-color: var(--white-10);
		color: var(--sand);
		/* background-color: var(--white-10); */
	}

	div.events .event span.event-title {
		color: var(--white-full);
	}
	
	div.time-place {
		/* background-color: #3d3d3d; */
		background-color: var(--forest);
		color: var(--sand);
		/* color: var(--white-full) */
	}

	.conversation a.network-site {
		color: var(--white-full);
		border-color: var(--white-30);
	}

	.conversation a.network-site:hover {
		border-color: var(--primary-300);
	}

	.conversation a.network-site svg {
		fill: var(--white-90);
	}
}

@media screen and (min-width:1024px) {
	h2 {
		margin-top: 3rem;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
